<ul class="heroes" style="vertical-align: middle;">
    <li   >
      <a routerLink="/radnik">
        <span class="badge">*</span> Radnici
      </a>
    </li>
    <li >
        <a routerLink="/magacin">
          <span class="badge">*</span> Magacin
        </a>
      </li>
      <li >
        <a routerLink="/poslovnipartner">
          <span class="badge">*</span> Poslovni Partneri
        </a>
      </li>
      <li >
        <a routerLink="/listaprometnidokument">
          <span class="badge">*</span> Prometni Dokumenti 
        </a>
      </li>
      <li >
        <a routerLink="/lager">
          <span class="badge">*</span> Lager lista
        </a>
      </li>

      <li >
        <a routerLink="/kreirajdokument">
          <span class="badge">*</span> Kreiraj novi dokument
        </a>
      </li>
      <li >
        <a routerLink="/passedexams">
          <span class="badge">*</span> Polozeni Ispiti
        </a>
      </li>
      <li >
        <a routerLink="/roba">
          <span class="badge">*</span> Roba
        </a>
      </li>
      <li >
        <a routerLink="/profexam">
          <span class="badge">*</span> Ispiti/Ocene Ispita
        </a>
      </li>
  </ul>